:root {
    --background:#E5E5E5;
    --white:#FFFFFF;
    --gray:#757575;
    --bluegray:#2F303A;
    --white-gray:#F5F4FA;
    --blue:#2196F3;
    --black:#212121;
    --main-font:'Roboto', sans-serif;
    --logo-font:'Raleway', sans-serif;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
    font-style:normal;
    color: var(--black);
}
h1,
h2,
h3,
ul,
p{
    margin: 0 auto;
    padding: 0;
}
button{
    cursor: pointer;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*header */
.header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    height: 80px;
    border-bottom: 1px solid #EEEEEE;
}
.header .container{
    display: flex;  
    align-items:center;
    padding-top: 24px;
}
.nav-list .list{
    display: flex;
    width: 294px;
    justify-content: space-between;
}
.header .contacts{
    display: flex;
    width: 307px;
    justify-content: space-between;
}
a{
    text-decoration: none; 
    color:inherit; 
}
ul{
    list-style: none;
}
.logo{
    color:var(--blue);
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.studio-black{
    color:var(--black);
}
.studio-white{
    color:var(--white);
}
.contacts{
    color:var(--gray);
    margin-right: 0;
}
.nav-list .current,
.nav-list a:hover,
.nav-list a:focus,
.contacts a:hover,
.contacts a:focus {
    color:var(--blue);
    
}
/* Hero section */
.hero-section{
    background-color: var(--bluegray);
    text-align: center; 
}
.hero-section .container{
    padding: 200px 252px 280px;
    height: 600px;
}
.hero-section .hs-title{
    color: var(--white);
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}    
.hero-section .hero-button{
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}
/* our features section */
.our-features{
    height: 289px;
}
.our-features .features{ 
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.our-features .features-text{
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.our-features .items{
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
}
.our-features .item{
    width: 270px;
    height: 101px; 
}
/* what we do section */
.what-we-do{
    height: 480px;
}
.what-we-do .what-we-do-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.what-we-do .list{
    display: flex;
    justify-content: space-between;
}
/* our tem section */
.our-team{
    background-color: var(--white-gray);
    height: 648px;    
}
.our-team .list{
    display: flex;
    justify-content: space-between;
}
.our-team .item{
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.our-team .our-team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
}
.our-team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 30px;
}
.our-team .job{
    color: var(--gray);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
/* footer */
.footer{
    background-color: var(--bluegray);
    height: 252px;
}
.footer .container{
    height: 132px;
    padding-top: 60px;
}
.address{
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 20px;
    padding-bottom: 9px;
}
.footer .contact:first-child{
    padding-bottom: 9px;
}
/* Portfolio */
.filters .container{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters .buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    height: 54px;
    width: 611px;
    justify-content: space-between;
}
.filters .filter-button{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}
.filters .filter-button:hover,
.filters .filter-button:focus{
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* projects section */
.projects{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.projects .item{
    width: 370px;
    height: 404px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}
.projects .img{
    width: 100%;
    display: block;
}
.projects .border{
    width: 370px;
    height: 110px;
    border: 1px solid #EEEEEE;
    border-top: transparent;
    padding-top: 20px;
}
.projects .p-names{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-left: 24px;
    
}
.projects .p-description{
    color: var(--gray);
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-left: 24px;
    margin-bottom: 20px;
}